::ng-dee svg {
    font-family: var(--ion-font-family) !important;
}

::ng-deep .active .hex {
    cursor: context-menu;
}

::ng-deep .hex {

    &[data-quantile="1"] {
        fill: #ffd8cd
    }

    &[data-quantile="2"] {
        fill: #e48f87
    }

    &[data-quantile="3"] {
        fill: #b65752
    }

    &[data-quantile="4"] {
        fill: #812a27
    }

    &[data-quantile="5"] {
        fill: #4f0000
    }
}

::ng-deep #connectivity {

    #base,
    #longitudinal1,
    #longitudinal2,
    #lateral1,
    #lateral2,
    #vertical1,
    #vertical2,
    #temporal1,
    #temporal2 {
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    #longitudinal2,
    #lateral2,
    #vertical2,
    #temporal2 {
        &.active {
            animation: blinker 1s step-end infinite;
        }
    }

    #longitudinal1,
    #lateral1,
    #vertical1,
    #temporal1 {
        &.active {
            animation: blinker 1s step-start infinite;
        }


    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

}

::ng-deep #freshwater_only {

    #extinct,
    #endangered,
    #low_risk,
    #no_data {
        transition-property: all;
        transition-duration: 500ms;
        fill-opacity: 0;
        stroke-opacity: 0;

        &.active {
            transition-property: all;
            transition-duration: 500ms;
            fill-opacity: 1;
            stroke-opacity: 1;
        }
    }

    #low_risk.active {
        fill-opacity: 0.403922;
    }
}

::ng-deep #all_species {

    #freshwater_aggregated,
    #fishes,
    #invertebrates,
    #mammals,
    #reptiles,
    #amphibian,
    #birds {
        transition-property: all;
        transition-duration: 500ms;
        opacity: 0;

        &.active {
            transition-property: all;
            transition-duration: 500ms;
            opacity: 1;
        }
    }
}

::ng-deep #ecosystem_impacts_viz_figure_chart_all,
::ng-deep #freshwater_only {
    #labels {
        text {
            fill: var(--ion-text-color) !important;
        }
    }
}

::ng-deep .lollipop_value_label_small_of_planned {
    fill-opacity: 0;
    transition-property: all;
    transition-duration: 500;

    &.active {
        fill-opacity: 1;
    }
}