<ion-content [fullscreen]="true">
    <div id="container">

        <!-- sticky side -->
        <main>
            <section id="header">
                <div class="centered_text_block">
                    <h1 class="intro__hed">{{'introTitle'|transloco}}</h1>
                    <h4 class="intro__hed">{{'introSubtitle'|transloco}}</h4>
                </div>
            </section>

            <section id="intro" class="centered_text_block">
                <p>
                    Rivers are complex systems whose dynamics shape life on Earth as we know it. They are home to a wide
                    range of freshwater
                    species. They transport sediments and nutrients. They form wetlands, deltas, and floodplains which
                    nurture flora, fauna,
                    and human communities and protect us from floods and droughts and other natural disasters. They
                    collect water from the
                    atmosphere and land and replenish groundwater systems, which are key for our survival.
                </p>
                <p>

                    To provide these essential ecosystem services, rivers must be able to flow freely, moving
                    unobstructed in multiple
                    directions. However, only a small fraction of the world’s rivers can still do so: a myriad of
                    human-made works fragment,
                    deviate, constrict, and regulate river flow, dramatically impacting natural functions and
                    surrounding ecosystems.
                    Understanding how rivers work, the threats they face, and the alarming consequences of altered river
                    processes, warns us
                    of how restoring our watercourses is not only possible, but crucial.
                </p>
                <p>

                    Understanding how rivers should flow is crucial to comprehend their current bleak situation and
                    alarming consequences.
                    Restoring and protecting these natural systems is yet possible and necessary for people and nature.
                </p>

            </section>
            <section id="breadcrumb">
                <div>
                    <span>Healthy Rivers</span>
                    <span>Anthropogenic Threats</span>
                    <span>Ecosystem Impacts</span>
                    <span>Possible Futures</span>
                    <span>About the project</span>
                </div>
            </section>
            <section id="healthy_rivers" class="scrolly scrolly-overlay">
                <!-- background content -->
                <figure>
                    <img src="assets/imgs/svg/map_global_rivers/1.map_global_rivers_land.svg"
                        id="map_global_rivers_land" class="stacked_img map_global_rivers active" data-step='all' />
                    <img src="assets/imgs/svg/map_global_rivers/1.map_global_rivers_all.svg" id="map_global_rivers_all"
                        class="stacked_img map_global_rivers active" data-step='1' />
                    <img src="assets/imgs/svg/map_global_rivers/1.map_global_rivers_not.svg" id="map_global_rivers_not"
                        class="stacked_img map_global_rivers" data-step='2,7' />
                    <img src="assets/imgs/svg/map_global_rivers/1.map_global_rivers_ffr.svg" id="map_global_rivers_ffr"
                        class="stacked_img map_global_rivers" data-step='3,4,5,6,7' />
                </figure>

                <!-- foreground master content -->
                <article>
                    <div class="step" data-step="1" data-offset="0.5">
                        <div [innerHTML]="'healthyRivers.step-1'|transloco"></div>
                    </div>
                    <div class="step" data-step="2">
                        <div [innerHTML]="'healthyRivers.step-2'|transloco"></div>
                    </div>
                    <div class="step" data-step="3">
                        <div [innerHTML]="'healthyRivers.step-3'|transloco"></div>
                    </div>
                    <div class="step" data-step="4">
                        <div [innerHTML]="'healthyRivers.step-4'|transloco"></div>
                    </div>
                    <div class="step" data-step="5">
                        <div [innerHTML]="'healthyRivers.step-5'|transloco"></div>
                    </div>
                    <div class="step" data-step="6">
                        <div [innerHTML]="'healthyRivers.step-6'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="7">
                        <div [innerHTML]="'healthyRivers.step-7'|transloco"></div>
                    </div>

                </article>
            </section>

            <!-- non scrolly content -->
            <section id="river-connectivities-title" class="centered_text_block">
                <h1>THE FOUR DIMENSIONS OF CONNECTIVITY</h1>
            </section>

            <section id="river_connectivities" class="scrolly"
                [ngClass]="{'scrolly-sticky-side': platform.is('desktop'), 'scrolly-overlay': platform.is('mobile')}">

                <!-- stick figure -->
                <figure>
                    <div id="connectivity_image" class="stacked_img river_connectivity_animation" data-step="1,2,3,4,5"></div>
                </figure>
                <!-- scrolling side -->
                <article>
                    <div class="step" data-step="1">
                        <div [innerHTML]="'connectivity.step-1'|transloco"></div>
                    </div>
                    <div class="step" data-step="2">
                        <div [innerHTML]="'connectivity.step-2'|transloco"></div>
                    </div>
                    <div class="step" data-step="3">
                        <div [innerHTML]="'connectivity.step-3'|transloco"></div>
                    </div>
                    <div class="step" data-step="4">
                        <div [innerHTML]="'connectivity.step-4'|transloco"></div>
                    </div>
                    <div class="step" data-step="5">
                        <div [innerHTML]="'connectivity.step-5'|transloco"></div>
                    </div>
                </article>

            </section>



            <section id="anthropogenic_threats" class="scrolly scrolly-overlay">
                <!-- background content -->
                <div id="barrier_counter">
                    <h5>{{'anthropogenicThreats.barrierCounterTitle' | transloco}}</h5>
                    <h5>{{barrierCount}}</h5>
                </div>
                <figure id="anthropogenic_threats_figure">
                    <img src="assets/imgs/gif/dam.gif" id="anthropogenic_threats_dam_background"
                        class="stacked_img anthropogenic_threats" data-step='1,2' />

                    <img src="assets/imgs/svg/map_eu/2.map_eu_land.svg" id="anthropogenic_threats_land"
                        class="stacked_img anthropogenic_threats" data-step='3,4,5,6,7,8,9,10,11,12,13,14,15,16' />

                    <div id="anthropogenic_threats_dams" class="stacked_img anthropogenic_threats"
                        data-step='4,5,6,7,8,9,10,11,12,13,14,15,16' data-transition-step="7">
                    </div>

                    <div id="anthropogenic_threats_ramps" class="stacked_img anthropogenic_threats"
                        data-step='7,8,9,10,11,12,13,14,15,16' data-transition-step="9"></div>

                    <div id="anthropogenic_threats_weirs" class="stacked_img anthropogenic_threats"
                        data-step='9,10,11,12,13,14,15,16' data-transition-step="11"></div>

                    <div id="anthropogenic_threats_culverts" class="stacked_img anthropogenic_threats"
                        data-step='11,12,13,14,15,16' data-transition-step="13">
                    </div>

                    <div id="anthropogenic_threats_sluices" class="stacked_img anthropogenic_threats"
                        data-step='13,14,15,16' data-transition-step="15">
                    </div>

                    <div id="anthropogenic_threats_others" class="stacked_img anthropogenic_threats" data-step='15,16'
                        data-offset="0.5">
                    </div>

                    <!-- al 17° step si attiva tooltip on hover ad ogni bin -->
                    <div id="anthropogenic_threats_hex_bin" class="stacked_img anthropogenic_threats" data-step='17,18'
                        data-foreground-step="17">
                    </div>

                </figure>

                <!-- foreground master content -->
                <article id="anthropogenic_threats_article">
                    <div class="step" data-step="1">
                        <div [innerHTML]="'anthropogenicThreats.step-1'|transloco"></div>
                    </div>
                    <div class="step" data-step="2">
                        <div [innerHTML]="'anthropogenicThreats.step-2'|transloco"></div>
                    </div>
                    <div class="step" data-step="3">
                        <div [innerHTML]="'anthropogenicThreats.step-3'|transloco"></div>
                    </div>
                    <div class="step" data-step="4">
                        <div [innerHTML]="'anthropogenicThreats.step-4'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="5">
                        <div [innerHTML]="'anthropogenicThreats.step-5'|transloco"></div>
                    </div>
                    <div class="step" data-step="6">
                        <div [innerHTML]="'anthropogenicThreats.step-6'|transloco"></div>
                    </div>
                    <div class="step" data-step="7">
                        <div [innerHTML]="'anthropogenicThreats.step-7'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="8">
                        <div [innerHTML]="'anthropogenicThreats.step-8'|transloco"></div>
                    </div>
                    <div class="step" data-step="9">
                        <div [innerHTML]="'anthropogenicThreats.step-9'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="10">
                        <div [innerHTML]="'anthropogenicThreats.step-10'|transloco"></div>
                    </div>
                    <div class="step" data-step="11">
                        <div [innerHTML]="'anthropogenicThreats.step-11'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="12">
                        <div [innerHTML]="'anthropogenicThreats.step-12'|transloco"></div>
                    </div>
                    <div class="step" data-step="13">
                        <div [innerHTML]="'anthropogenicThreats.step-13'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="14">
                        <div [innerHTML]="'anthropogenicThreats.step-14'|transloco"></div>
                    </div>
                    <div class="step" data-step="15">
                        <div [innerHTML]="'anthropogenicThreats.step-15'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="16">
                        <div [innerHTML]="'anthropogenicThreats.step-16'|transloco"></div>
                    </div>
                    <div class="step separator" data-step="17">
                        <div [innerHTML]="'anthropogenicThreats.step-17'|transloco"></div>
                    </div>
                    <div class="step" data-step="18">
                        <div [innerHTML]="'anthropogenicThreats.step-18'|transloco"></div>
                    </div>
                </article>
            </section>


            <!-- non scrolly content -->
            <section id="outro">
                <div [innerHTML]="'healthyRivers.outro'|transloco">
                </div>
                <img-comparison-slider direction="vertical" *ngIf="platform.is('mobile')">
                    <img slot="first" src="https://placeholder.pics/svg/600x300/4B691C/FFFFFF/aaaaaaaaa" />
                    <img slot="second" src="https://placeholder.pics/svg/600x300/FFAA00/FFFFFF/BBBBBBB" />
                </img-comparison-slider>


                <img-comparison-slider direction="horizontal" *ngIf="platform.is('desktop')">
                    <img slot="first" src="https://placeholder.pics/svg/600x300/4B691C/FFFFFF/aaaaaaaaa" />
                    <img slot="second" src="https://placeholder.pics/svg/600x300/FFAA00/FFFFFF/BBBBBBB" />
                </img-comparison-slider>
            </section>
            <section id="outro"></section>
        </main>

        <div class='debug'></div>


    </div>
</ion-content>