@import '../../theme/scrolly-style.scss';

@import '../../theme/viz.scss';
#container strong {
    font-size: 20px;
    line-height: 26px;
}

// #container p {
//     font-size: 16px;
//     line-height: 22px;

//     color: #8c8c8c;

//     margin: 0;
// }

#container a {
    text-decoration: none;
}

#intro {
    background-image: url("/assets/imgs/gif/header_background.gif");
}

.stacked_img {
    position: absolute;
}

//shared rules among sticky side and overlay
section {
    position: relative;
    background-color: #f3f3f3;
    padding: 1rem;

    article {
        position: relative;
        max-width: 20rem;
    }

    figure {
        position: -webkit-sticky;
        position: sticky;
        width: 100%;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        _background-color: #8a8a8a;
        z-index: 0;

        p {
            text-align: center;
            padding: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 8rem;
            font-weight: 900;
            color: #fff;
        }
    }

    .step {
        margin: 0 auto 2rem auto;
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }

        p {
            text-align: center;
            padding: 1rem;
            font-size: 1.5rem;
        }

        &.is-active {
            background-color: goldenrod;
            color: #3b3b3b;
        }
    }
}

.scrolly-sticky-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    article {
        padding: 0 1rem;
    }

    figure {
        color: white;
    }


    .step {
        background-color: #3b3b3b;
    }
}

.scrolly-overlay {
    article {
        padding: 0;
        margin: 0 auto;
    }

    figure {
        left: 0;
    }

    .step {
        background-color: rgba(0, 0, 0, 0.1);

        &.is-active {
            p {
                background-color: goldenrod;
                color: #3b3b3b;
            }
        }

        p {
            background-color: #3b3b3b;
        }
    }

}

#healthy_rivers {
    .map_global_rivers {
        height: 100%;
        width: auto;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 500ms;

        &.active {
            opacity: 1;
        }


    }
}

#river_connectivities {
    .river_connectivity_animation {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 500ms;

        &.active {
            opacity: 1;
        }
    }


}

#anthropogenic_threats {
    .anthropogenic_threats {
        height: 100%;
        width: 100%;
        opacity: 0;
        // transition-property: opacity;
        transition-duration: 500ms;


        ::ng-deep svg {
            width: 100%;
        }

        &.active {
            opacity: 1;

            &:not(#anthropogenic_threats_hex_bin)::ng-deep svg path {
                fill: #db7870;
            }

            &#anthropogenic_threats_hex_bin::ng-deep svg path.focused {
                stroke: black !important;
                stroke-width: 1px !important;
            }
        }

        svg {
            height: 100%;
        }

        &.transitioned {

            &:not(#anthropogenic_threats_hex_bin)::ng-deep svg path {
                fill: rgb(30, 14, 4);
                fill-opacity: 0.50;

            }
        }
    }

    #barrier_counter {
        position: sticky;
        top: 0;
        background-color: #fefefe;
        color: darkred;
        z-index: 20;
    }
}