@import '../../theme/scrolly-style.scss';

@import '../../theme/viz.scss';

@import '../../theme/variables.scss';
@import "../../theme/scrollbar-width-mixin.scss";

#container strong {
    font-size: 20px;
    line-height: 26px;
}


#container a {
    text-decoration: none;
}

main {
    margin-left: 20vw;
    margin-right: 20vw;
}

.centered_text_block {


    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    figure {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

#hovercard {
    position: fixed;
    opacity: 0;
    display: none;

    &.active {
        display: block;
        opacity: 1;
        z-index: 5000;
        background-color: var(--ion-color-primary-contrast);
    }
}

#breadcrumb {
    @include hideScrollbar();
    background-color: var(--ion-section-background-color);
    position: sticky;
    font-size: small !important;
    top: 0;
    z-index: 2000;
    width: auto;
    overflow-x: auto;
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    ion-breadcrumb {
        span {
            // display: inline-block;
            // margin: auto;

            // max-width: calc(60vw / 5);
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // overflow-x: hidden;
        }
    }
}

.section_title {
    padding-top: 36px;
    background-color: var(--ion-section-background-color);
}

#ecosystem_impacts_title {
    .section_title {
        padding-top: 0;
    }
}

.sticky_section_title {
    position: sticky;
    top: 0;
    z-index: 1;
    height: calc(10vh + 36px);
}

.stacked_img {
    position: absolute;
}

//shared rules among sticky side and overlay
section {
    position: relative;
    background-color: var(--ion-section-background-color);
    padding: 1rem;

    article {
        position: relative;
        max-width: 80vw;
    }

    figure {
        position: -webkit-sticky;
        position: sticky;
        margin: auto;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 0;
        background-color: var(--ion-section-background-color);
    }

    .step {
        margin: 0 auto 2rem auto;
        color: var(--ion-color-text-color-standard);
        font-size: 1.3rem;
        text-align: center;
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity;
        background-color: rgba(var(--ion-section-background-color), 0.5);

        &.quick-transition {
            transition-duration: 0ms;
        }

        // display: flex;
        &.smaller-font {
            font-size: 1.25rem;
        }

        &.separator {
            background-color: transparent;
        }

        div {
            margin: auto
        }

        &.is-active {
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }

        p {
            text-align: center;
            padding: 1rem;
            font-size: 1.3rem;
        }
    }
}

.flex-step {
    display: flex;
    flex-direction: column;
}

.step-footer {
    font-size: medium;
}

.scrolly-sticky-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .step {
        font-size: 1.3rem;
        text-align: left;
    }

    * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    article {
        padding: 0 1rem;
    }

}

.scrolly-overlay {
    article {
        padding: 0;
        margin: 0 auto;
    }

    figure {
        left: 0;
    }

    .step {
        p {
            background-color: #3b3b3b;
        }
    }

}

#healthy_rivers_caption,
#anthropogenic_threats_caption,
#ecosystem_impacts_viz_figure_chart_caption {
    position: absolute;
    top: calc(100% - 8vh);
}

#healthy_rivers {

    article {
        font-family: Century-Gothic-Bold;
    }

    .map_global_rivers {
        top: 10vh;
        height: calc(100% - 20vh);
        width: 100%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 500ms;

        &.active {
            opacity: 1;
        }


    }
}

#river_connectivities {
    .river_connectivity_animation {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 500ms;
        display: flex;

        &.active {
            opacity: 1;
        }

    }

    .step:last-child {
        height: 744px;
    }

    #connectivities_step1 {
        margin-top: 50%;
    }

}


#free_flowing_rivers_text {
    font-size: 20px;

    #free_flowing_rivers_text_text_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#anthropogenic_threats {
    article ::ng-deep ion-text {
        font-size: 5rem;
        font-weight: 700;
        color: var(--ion-dark-brown, #3c372f);
        border-bottom: 1rem solid var(--ion-color-base);
    }

    #anthropogenic_threats_hex_bin ::ng-deep svg {
        transform: scale(0.95);
    }

    #anthropogenic_threats_article {

        .step[data-step="1"].is-active,
        .step[data-step="2"].is-active {
            padding-left: 5px;
            padding-right: 5px;
        }

        .step[data-step="1"].is-active,
        .step[data-step="2"].is-active,
        .step[data-step="17"].is-active {
            div {
                background-color: var(--ion-section-background-color);
            }
        }
    }

    .anthropogenic_threats {

        top: 10vh;
        width: 100%;
        height: calc(100% - 20vh);
        opacity: 0;
        // transition-duration: 500ms;


        ::ng-deep svg {
            width: 100%;
        }

        &.active {
            opacity: 1;

            &:not(#anthropogenic_threats_hex_bin)::ng-deep svg path {
                fill: #db7870;
                transition: fill 500ms;
            }

            &#anthropogenic_threats_hex_bin::ng-deep svg path.focused {
                stroke: black !important;
                stroke-width: 1px !important;
            }
        }

        svg {
            height: 100%;
        }

        &.transitioned {

            &:not(#anthropogenic_threats_hex_bin)::ng-deep svg path {
                fill: rgb(30, 14, 4);
                fill-opacity: 0.30;

            }
        }


    }

    #barrier_counter {
        position: absolute;
        top: 88%;
        background-color: transparent;
        color: var(--ion-color-danger);
        z-index: 20;
    }
}

#freshwater_species_title {
    height: 36px;
}

#ecosystem_impacts_viz {


    .ecosystem_impacts_viz {

        top: calc(10vh + 36px);
        height: calc(100% - 20vh);
        width: 100%;
        opacity: 0;
        transition-duration: 500ms;

        ::ng-deep svg {
            width: 100%;
        }

        &.active {
            opacity: 1;
        }

        svg {
            height: 100%;
        }


    }

    #ecosystem_impacts_viz_figure_chart_all {
        // top: unset;
        height: unset;
    }
}

#ecosystem_impacts_viz_article {

    [data-step="6"].is-active,
    [data-step="7"].is-active,
    [data-step="8"].is-active,
    [data-step="9"].is-active {
        div {
            height: auto;
            background-color: var(--ion-section-background-color);
        }
    }
}

#ecosystem_impacts_viz_article {

    ::ng-deep ion-text {

        &[highlight-color="danger-dark"] {
            border-bottom: solid 0.75rem var(--ion-color-danger-dark)
        }

        &[highlight-color="danger"] {
            border-bottom: solid 0.75rem var(--ion-color-danger)
        }

        &[highlight-color="least-concern"] {
            border-bottom: solid 0.75rem var(--ion-color-warning-low-risk)
        }

        &[highlight-color="no-data"] {
            border-bottom: solid 0.75rem var(--ion-color-no-data)
        }
    }
}


#possible_futures_viz {
    .possible_futures_viz {

        top: 10vh;
        width: 100%;
        height: calc(100% - 20vh);
        opacity: 0;
        transition-duration: 500ms;
        display: flex;
        flex-direction: column;
        justify-content: center;

        ::ng-deep svg {
            width: 100%;
        }

        &.active {
            opacity: 1;
        }

        svg {
            height: 100%;
        }

    }
}





#glossary_container {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#glossary {
    ion-row {
        justify-content: space-between;
    }

    font-size: small;

    ion-col {
        display: flex;
        align-content: flex-end;
    }
}

#header {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(233, 228, 216, 0.17) 40%, rgba(83, 83, 83, 0.84) 100%);
    color: var(--ion-section-background-color);
    overflow: hidden;
    padding-bottom: 0;

    video {
        margin: 0;
        padding: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
    }

    #subtitleCredits {
        margin-top: 15px;
        display:flex;
        flex-direction: row;
        align-content: space-between;
        span{
          display: inline-block;
          &#videoCredits{
            margin: auto;
            margin-right: 0;
            font-size: x-small;
          }
        }
    }

    .centered_text_block {
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #intro_title {
        font-size: 4rem;
        font-family: var(--ion-font-family-bold);
        font-weight: bolder;
    }
}

#video_fixed {
    // position: fixed;
    object-fit: cover;
    margin-left: 20vw;

    video {
        width: 58.9vw;
    }
}

.video_container {
    display: block !important;

    video {
        width: 100%;
    }
}

figcaption {
    font-size: small;
}

#langSelector {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 36px;
    height: 36px;

    ion-button {
        text-transform: uppercase;
        font-family: var(--ion-font-family-bold);
        font-weight: bold;
    }
}

//mobile overloads
.lillipop_title {
    flex-grow: 0 !important;

    h4 {
        text-transform: uppercase;
        font-family: var(--ion-font-family-bold);
        font-weight: bolder;
        font-size: small;
    }
}

#methodology {
    margin-bottom: 2rem;
    margin-top: 1.3rem;
}

#healthy_rivers_caption {
    position: absolute;
    top: calc(100% - 20vh);
}


main.mobile {

    --ion-color-primary-contrast: #e9e4d8;
    --ion-color-secondary-contrast: #e9e4d8;
    --ion-color-tertiary-contrast: #e9e4d8;
    --ion-color-success-contrast: #e9e4d8;
    --ion-color-warning-contrast: #e9e4d8;
    --ion-color-danger-contrast: #e9e4d8;
    --ion-color-medium-contrast: #e9e4d8;
    --ion-color-light-contrast: #e9e4d8;



    margin-left: 0;
    margin-right: 0;

    .step-footer {
        margin-top: 15px !important;
    }

    .step {
        margin: 0 auto 2rem auto;
        font-size: 22px;
        background-color: transparent;
        text-align: left;
    }

    section,
    #breadcrumb {

        ion-breadcrumb {
            span {
                max-width: unset;
                white-space: unset;
                text-overflow: unset;
            }
        }

        background-color: var(--ion-section-background-color);
    }

    #healthy_rivers {
        .map_global_rivers {
            top: 2vh;
            height: 100%;
        }
    }

    #healthy_rivers_caption {
        display: none;
    }

    #river_connectivities {
        .step {
            font-size: 18px;
        }

        .river_connectivity_animation {
            margin-top: 2vh;
        }

        #connectivities_step1 {
            margin-top: unset;
        }

        #connectivity_image {
            height: 70%;
            margin-top: 0;
        }
    }

    #free_flowing_rivers_text {
        font-size: 18px;
    }

    #anthropogenic_threats {
        .anthropogenic_threats {
            height: unset;
        }

        article ::ng-deep ion-text {
            font-size: 26px;
            text-align: center;
        }

        #anthropogenic_threats_article {
            .step {

                &[data-step="4"],
                &[data-step="6"],
                &[data-step="8"],
                &[data-step="10"],
                &[data-step="12"],
                &[data-step="14"] {
                    text-align: center;
                }

                &[data-step="17"].is-active {
                    .step_content_wrapper {
                        background-color: var(--ion-section-background-color);
                    }
                }
            }
        }
    }

    #ecosystem_impacts_viz {
        .ecosystem_impacts_viz {

            // top: unset;
            height: unset;
        }

        .step {
            font-size: 1.25rem;
        }
    }

    #possible_futures_viz {

        #possible_futures_viz_figure {
            top: 0 !important;
            right: 5px;
        }

        .possible_futures_viz {
            display: unset;
            flex-direction: unset;
            justify-content: unset;
        }

        .step {
            font-size: 18px;
        }
    }



    #header {
        // background-color: var(--ion-section-background-color);

        #intro_title {
            font-size: 2.5rem;

        }



    }


}


ion-content.mobile {
    #video_fixed {
        margin-left: 0;

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }
}

#colophon {
    width: 100%;
    text-align: center;
    font-size: x-small;
    margin-top: 4rem;
}

#life_colophon {
    width: 80%;
}

#life_disclaimer {
    font-size: small;
    margin-top: 5px;
}

#logo_col {
    display: flex;

}

#life_logo {
    max-width: 125px;
    height: auto;
    align-self: center;
    width: 100%;
    margin: auto;

}
