<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{'pageTitle' | transloco}}
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <div id="container">

        <!-- sticky side -->
        <main>
            <section id="intro">
                <h1 class="intro__hed">{{'introTitle'|transloco}}</h1>
                <h4 class="intro__hed">{{'introSubtitle'|transloco}}</h4>
                <div [innerHTML]="'introParagraphs'|transloco">
                </div>
            </section>

            <section id="healthy_rivers" class="scrolly scrolly-overlay">
                <!-- background content -->
                <figure>
                    <img src="../../assets/imgs/svg/map_global_rivers/1.map_global_rivers_land.svg"
                        id="map_global_rivers_land" class="stacked_img map_global_rivers active" data-step='all' />
                    <img src="../../assets/imgs/svg/map_global_rivers/1.map_global_rivers_all.svg"
                        id="map_global_rivers_all" class="stacked_img map_global_rivers active" data-step='1' />
                    <img src="../../assets/imgs/svg/map_global_rivers/1.map_global_rivers_not.svg"
                        id="map_global_rivers_not" class="stacked_img map_global_rivers" data-step='2,7' />
                    <img src="../../assets/imgs/svg/map_global_rivers/1.map_global_rivers_ffr.svg"
                        id="map_global_rivers_ffr" class="stacked_img map_global_rivers" data-step='3,4,5,6,7' />
                </figure>

                <!-- foreground master content -->
                <article>
                    <div class="step" data-step="1">
                        <div [innerHTML]="'healthyRivers.step-1'|transloco"></div>
                    </div>
                    <div class="step" data-step="2">
                        <div [innerHTML]="'healthyRivers.step-2'|transloco"></div>
                    </div>
                    <div class="step" data-step="3">
                        <div [innerHTML]="'healthyRivers.step-3'|transloco"></div>
                    </div>
                    <div class="step" data-step="4">
                        <div [innerHTML]="'healthyRivers.step-4'|transloco"></div>
                    </div>
                    <div class="step" data-step="5">
                        <div [innerHTML]="'healthyRivers.step-5'|transloco"></div>
                    </div>
                    <div class="step" data-step="6">
                        <div [innerHTML]="'healthyRivers.step-6'|transloco"></div>
                    </div>
                    <div class="step" data-step="7">
                        <div [innerHTML]="'healthyRivers.step-7'|transloco"></div>
                    </div>

                </article>
            </section>

            <!-- non scrolly content -->
            <section id="outro">
                <div [innerHTML]="'healthyRivers.outro'|transloco">
                </div>
            </section>

            <section id="river_connectivities" class="scrolly scrolly-sticky-side">

                <!-- stick figure -->
                <figure>
                    <div id="longitudinal_img" class="stacked_img river_connectivity_animation" data-step="1"></div>
                    <div id="lateral_img" class="stacked_img river_connectivity_animation" data-step="2,3"></div>
                    <div id="vertical_img" class="stacked_img river_connectivity_animation" data-step="4"></div>
                    <div id="temporal_img" class="stacked_img river_connectivity_animation" data-step="5"></div>
                </figure>
                <!-- scrolling side -->
                <article>
                    <div class="step" data-step="1">
                        <div [innerHTML]="'connectivity.step-1'|transloco"></div>
                    </div>
                    <div class="step" data-step="2">
                        <div [innerHTML]="'connectivity.step-2'|transloco"></div>
                    </div>
                    <div class="step" data-step="3">
                        <div [innerHTML]="'connectivity.step-3'|transloco"></div>
                    </div>
                    <div class="step" data-step="4">
                        <div [innerHTML]="'connectivity.step-4'|transloco"></div>
                    </div>
                    <div class="step" data-step="5">
                        <div [innerHTML]="'connectivity.step-5'|transloco"></div>
                    </div>
                </article>

            </section>





            <section id="outro"></section>
        </main>

        <div class='debug'></div>


    </div>
</ion-content>